/*Videos section*/
@media (min-width:750px) {
  .slick-initialized{
    padding: 0 45px !important;
  }
  .video-inner-block {
    margin: 5px;
}
button.video-slider-arrow {
  background: transparent;
  border: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
}
body.overflow-hidden #shopify-chat,.overflow-hidden-tablet #shopify-chat{
     display:none!important;
}
button.video-slider-arrow {
  border: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fff;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.video-slider-arrow svg{
  width: 20px;
}

button.video-slider-arrow.video-slider-next.slick-arrow {
    right: 0;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  left: 50%;
  bottom: -26px;
  transform: translateX(-50%);
}
.slick-slide {
  margin: 0 10px; /* Adjust the margin value as needed */
}
.slick-list {
  margin: 0 -10px; /* To offset the margin of slides */
}
.videos-section li {
  margin: 0 0.25rem;
}

.slick-dots button {
  text-indent: -9999px;
      max-width: 100%;
    border-radius: 5px;
    background-color: #d9d9d9;
    height: 6px;
    font-size: 0;
    border: 0;
    width: 68px;
    display: block;
    margin: 0 4px;
    outline: 0;
}
button.video-slider-arrow svg path {
    stroke: #000;
}
.slick-dots li.slick-active button {
  background-color: #000;
  border-color: #000;
}
.video-inner-block iframe{
  border: none;
}
/* home page shopify-section-template--17056210583733__multicolumn_FMXnRJ */
#shopify-section-template--17056210583733__multicolumn_FMXnRJ .slider-buttons{
  display:none;
}

#shopify-section-template--17056210583733__multicolumn_FMXnRJ{
  text-align:center;
}
#shopify-section-template--17056210583733__multicolumn_FMXnRJ .inline-richtext{
  font-size:30px;
  font-weight:bold;
}
/* mega menu  */
.mega-menu__list{
  display:flex !important;
  flex-direction:column;
      max-width: 300px;
    position: relative;
  margin:0;
  padding: 0;
}
.header--mobile-center{
  padding-top: 0 !important;
  padding-bottom:0 !important;
}

.mega-menu[open] .mega-menu__content{
    z-index: 33;
    transform: translateY(-5px) !important;
}
.mega-menu .icon{
  pointer-events: none;
}
.static{
  position:static;
}
.header__menu-item a{
  color: inherit;
}
#showMoreBtn{
  margin-top: 10px;
}
.more-content{
  display:none;
}
.menu-container-last{
  display:none;
  flex-wrap:wrap;
  position:absolute;
    right: 0;
  top:0;
      z-index: 11;
    left: 101%;
    width: calc(100vw - 300px);
}
.mega-menu__list .child-link:first-child .menu-container-last{
  display:flex;
} 
.menu-container-last li{
  max-width:150px;
  width:100%;
}
.about-us .slider-buttons{
  display: none;
}
/* footer */
.footer__content-top{
  padding-bottom: 0 !important;
}
.footer__blocks-wrapper{
  margin-bottom: 0 !important;
}
/*.charity-block  */
.charity-block .row > div{
  flex:1;
}
.charity-block .row{
  display:flex;
  gap:15px;;
}

@media (max-width:640px){
  .charity-block .row{
flex-direction:column;
}
}
/* product page text-badge-wrapper */
.text-badge-wrapper{
  display: flex;
  flex-wrap:wrap;
}
.text-badge-wrapper span{
  background-color: #e2edef;
  padding: 1px 9px;
  border-radius: 4px;
  display: inline-block;
  margin: 2px;
  font-size: 12px;
}
/* product page text-badge-wrapper */
/* product page vedio slider */
.video-inner-block iframe{
  width: 100%;
}
/* product page vedio slider */
 body.collection .card__information{
  padding: 0 !important;
 }
 body.collection .card__heading{
  font-size: 16px;
 }
 @media (max-width:480px) {
  slider-component .grid__item{
    width: calc(95% - var(--grid-mobile-horizontal-spacing) - 3rem) !important;
  }
 }

 body.cart #cart-icon-bubble{
  display: none;
 }
 .quick-add__submit{
  background-color: rgba(28,44,58, var(--alpha-button-background));
 }
 /*  */
 body.contact form,body.legal form{
  width: 100%;
 }
 @media (min-width:750px) {
  /* about us page  */
 #Slider-template--17121796554933__multicolumn_yrdtRA{
  display: flex;
 }
 #Slider-template--17121796554933__multicolumn_yrdtRA .multicolumn-list__item ,
 #Slider-template--17056210583733__multicolumn_FMXnRJ .multicolumn-list__item{
  flex: 1;
 }
 
 }

 /*  */
 label.custom-checkbox-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  line-height: 1;
  margin-bottom: 8px;
}
.field__label1.checkbox-custom {
  display: flex;
  flex-direction: column;
}
.checkbox-custom input[type=checkbox] {
margin-top: 0;
}
 #shopify-section-template--17056210583733__multicolumn_FMXnRJ li{
  flex:1;
 }

 @media (max-width:749px) {
  .page.contact .image-with-text__text-item:last-child{
    order: -1;
    padding-top: 0;
     }
  .page.contact .contact__button .button{
    width: 100%;
     }
 }
 @media (max-width:480px) {
  #shopify-section-template--17056210583733__multicolumn_FMXnRJ ul{
    flex-direction: column;
   }
 }
 .form-group select{
  width: 100%;
  font-size: 16px;
  height: 4.5rem;
  border-radius: 8px;
  padding: 0 15px;
 }

 /* custome font style */
 .header__menu-item{
  color: rgb(var(--color-foreground));
 }
 
 .mega-menu__link,details[open]>.header__menu-item,
 .header__menu-item:hover span,.header__active-menu-item,.header__menu-item a{
  text-decoration: none !important;
 }
 .child-link-lable .custome-arrow{
  width: 18px;
  margin-right: 15px;
  transform: rotate(272deg);
 }
 .child-link-lable{
  display: flex !important;
  justify-content: space-between;
  height: 44px;
  padding: 0 0 0 5rem;
  align-items: center;
 }
 .mega-menu__content{
  background: #fff;
 }
 .menu-active{
  background: rgba(0,0,0,.1)!important;
 }
 .menu-container-last .mega-menu__link{
  padding-top: 0;
 }
 .mega-menu__link--level-3{
  font-weight: 700;
 }
 .product-card-wrapper .card__information *{
  font-size: 1.8rem;
  font-weight: 600;
 }
 @media (min-width:750px) {
  .video-inner-block h3,.article-card .card__heading{
    font-weight: 500 !important;
    font-size: 23px !important;
    line-height: 34px;
  }
  #Slider-template--17056210583733__multicolumn2 h3{
    font-size: 28px;
  }
  #Slider-template--17056210583733__multicolumn2 p{
    font-size: 18px;
  }
  h2,.h2{
    font-size: 30px;
  }
 }
 .card-information .price{
  margin-bottom: 10px;
 }
 a{
  text-decoration: none !important;
 }
 .article-card__info{
  color: #1c2c3a80;
  font-size: 15px;
  font-weight: 600;
 }
 #request-type{
  background-color: transparent;
 }
 .video-section__media{
  border: 0 ;
 }
 .author-name{
  font-size: 18px;
  color: #141516;
  font-weight: 500;
}
.product__title{
  margin-top: 0 !important;
}
.text-badge-wrapper{
  margin-bottom: 10px;
}
.show-more-content {
  max-height: 100px; /* Set the initial visible height */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.show-more-content.expanded {
  max-height: none;
}
.descrition-short{
  font-size: 15px;
}
.descrition-short p ,.card--card .quick-add{
  margin: 0 !important;
}